/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 33px;
}

h1 {
  margin: 17px auto;
  font-size: 26px;
  line-height: 18px;
}

h2 {
  margin: 16px auto;
  font-size: 20px;
  line-height: 18px;
}

p {
  margin: 33px;
  font-size: 13px;
}

a, li {
  font-size: 13px;
}
a:link {
  color: black;
}
a:visited {
  color: #666;
}
a:hover {
  background-color: black;
  color: white;
}

.notice {
  color: #008000;
}

label {
  font-size: 13px;
}

.form {
  display: block;
  margin-bottom: 10px;
  line-height: 15px
}

.error-box {

  list-style-position: inside;
  margin-bottom: 20px;
  width: 450px;
}

h3 {
  font-size: 13px;
  color: white;
  background-color: red;
  padding: 8px 5px 5px 15px;
}

.error-message {
  padding: 33px;
  background-color: #dcdcdc;
  border: 2px solid red;
  box-sizing: border-box;
}

table {
  font-size: 13px;

}

th, td {
  padding: 0 8px 5px;
}
th {
  font-weight: bold;
}

.submit-btn {
  padding: 2px 4px;
}
